{% extends "base.html" %}

{% block title %}Filters &mdash; SHOC{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/filterwheel.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    SHOC.filterwheel = new SHOC.Filterwheel.View({{ wheels|tojson|safe }});
});
</script>
{% endblock %}

{% block content %}
<div class="row">
{% for wheel in wheels %}
    <form id="{{ wheel.name }}" role="form" autocomplete="off">
        <input type="hidden" name="name" value="{{ wheel.name }}">

        <div class="col-md-6">
        <fieldset>
            <legend>{{ wheel.description }} <span class="label label-default wheel-id pull-right"></span></legend>

            <div class="row form-group">
                <div class="col-md-6 status">
                    <span class="label label-default status-initialized">Initialized</span><span class="label label-default status-reference">At Ref.</span><span class="label label-default status-centered">Centered</span><span class="label label-default status-moving">Moving</span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label>Current Position</label>

                    <div class="input-group">
                        <div class="input-group-addon position-name"></div>
                        <div class="input-group-addon position-colour"></div>
                        <input type="text" name="position" class="form-control" value="0" style="border-left: none;">
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label>Required Position</label>

                    <div class="input-group">
                        <div class="input-group-addon required-position-name"></div>
                        <div class="input-group-addon required-position-colour"></div>
                        <input type="text" name="required-position" class="form-control spinedit" value="0" style="border-left: none;">
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-3">
                    <div data-toggle="popover" data-content="Initialize the filter wheel when running it for the first time.">
                        <button type="button" class="btn btn-default btn-block btn-initialize" data-loading-text="Initializing&hellip;">Initialize</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div data-toggle="popover" data-content="Move the filter wheel to the required position.">
                        <button type="button" class="btn btn-default btn-block btn-move" data-loading-text="Moving&hellip;">Move</button>
                    </div>
                </div>
            </div>

            <a href="#" class="advanced-toggle">More&hellip;</a>

            <div class="row collapse advanced-options">
                <div class="col-md-4">
                    <h4>Filters</h4>
                    {% if wheel.filters %}
                    <ol>
                    {% for name, color in wheel.filters %}
                        <li>{{ name }}</li>
                    {% endfor %}
                    </ol>
                    {% else %}
                    <p>Unknown filter wheel configuration.</p>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger btn-block" data-toggle="modal" data-content="Use reset if the filter wheel controller gets lost or confused and initializing it doesn't fix the problem." data-target="#reset-confirmation">Reset</a>
                </div>
            </div>
        </fieldset>
        </div>
    </form>
{% endfor %}
</div>

<div id="reset-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Reset Confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you want to reset the filter wheel?</h4>
            </div>
            <div class="modal-body">
                This should only be done if the filter wheel controller is lost/confused and initializing it again doesn't help.
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-reset">Reset Filterwheel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
