{% extends "base.html" %}

{% block title %}GPS &mdash; SHOC{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/gps.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    SHOC.gps = new SHOC.GPS.FormView({{ gps.state|tojson|safe }});
});
</script>
{% endblock %}

{% block content %}
<div id="gps" class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mode">Mode</label>
                    {{ form.mode(class='form-control') }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="pulse_width">Pulse Width</label>
                    {{ form.pulse_width(class='form-control') }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <span style="float: right; color: #777;">MM/DD/YYYY</span>

                    <div class="input-group date">
                        {{ form.start_date(class='form-control', placeholder='MM/DD/YYYY', **{'data-date-format': 'mm/dd/yyyy'}) }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>

                    <small class="help-block" data-original-text="Local Time (SAST)">Local Time (SAST)</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="start_time">Start Time</label>
                    <span style="float: right; color: #777;">HH:MM:SS.000000</span>
                    <div class="input-group">
                        {{ form.start_time(class='form-control', placeholder='HH:MM:SS.000000') }}
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-quick-start">now + 30 seconds</button>
                        </span>
                    </div>
                    <small class="help-block" data-original-text="Local Time (SAST)">Local Time (SAST)</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="repeat_interval">Repeat Interval</label>
                    {{ form.repeat_interval(class='form-control', disabled=(form.data.get('mode') != 2)) }}
                    <small class="help-block" data-original-text="Milliseconds">Milliseconds</small>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <button class="btn btn-default btn-save btn-block" data-loading-text="Saving…">Apply</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default btn-stop btn-block" data-loading-text="Stop" data-content="Stops the currently scheduled pulse.">Stop</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge local-time"></span>
                <span class="state bg-primary"></span>
                SAST
            </li>
            <li class="list-group-item">
                <span class="badge universal-time"></span>
                <span class="state bg-primary"></span>
                UT
            </li>
            <li class="list-group-item">
                <span class="badge">
                    <span class="status-position-latitude"></span>
                    <span class="status-position-longitude"></span>
                </span>
                <span class="state bg-primary"></span>
                Position
            </li>
            <li class="list-group-item">
                <span class="badge status-user-time-bias"></span>
                <span class="state bg-primary"></span>
                Cable Delay
            </li>
            <li id="pop-status" class="list-group-item">
                <span class="badge">
                    <span class="info" data-content="<p><strong>Off</strong>: No pulse is scheduled.</p><p><strong>Pending</strong>: A pulse is scheduled, but has not been generated.</p><p><strong>Activated</strong>: The scheduled pulse has occurred.</p><p><strong>Fault</strong>: The time to generate a scheduled pulse has passed, but the GPS has not achieved the Time Valid state and thus now cannot generate it. The POP function must be reinitialized with new values.</p>">N/A</span>
                </span>
                <span class="state bg-primary"></span>
                Pulse
            </li>
            <li id="timing-status" class="list-group-item">
                <span class="badge">
                    <span class="info" data-content="<p><strong>Valid</strong>: Time information has been obtained by the GPS and the POP can now be set.</p><p><strong>Invalid</strong>: Time is not yet valid, or has become invalid and the POP can not be set.</p>">N/A</span>
                </span>
                <span class="state bg-primary"></span>
                Timing
            </li>
            <li id="reference-status" class="list-group-item">
                <span class="badge">
                    <span class="info" data-content="<p><strong>Ready</strong>: The GPS has reached minimum accuracy levels and is in Fine Tuning Mode.</p><p><strong>Off</strong>: The GPS has not yet achieved minimum accuracy levels.</p<">N/A</span>
                </span>
                <span class="state bg-primary"></span>
                Reference
            </li>
            <li id="antenna-status" class="list-group-item">
                <span class="badge">
                    <span class="info" data-content="<p><strong>Good</strong>: Antenna is fully operational.</p><p><strong>Fault</strong>: Indicates that there is no antenna connected to the unit or that there has been a failure of the GPS antenna or power supply electronics.</p>">N/A</span>
                </span>
                <span class="state bg-primary"></span>
                Antenna
            </li>
        </ul>

        <div class="well well-lg">
            <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#gps_status">Receiver Status</a>
        </div>
    </div>

</div>

<div id="gps_status" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Receiver Status" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Receiver Status</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="viz">

                        <svg class="chart" width="350" height="210">
                            <rect class="sq" x="50" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="75" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="100" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="125" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="150" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="175" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="200" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="225" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="250" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="275" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="300" y="149" width="24" height="1"></rect>
                            <rect class="sq" x="325" y="149" width="24" height="1"></rect>
                            <text x="62.5" y="10" text-anchor="middle">1</text>
                            <text x="87.5" y="10" text-anchor="middle">2</text>
                            <text x="112.5" y="10" text-anchor="middle">3</text>
                            <text x="137.5" y="10" text-anchor="middle">4</text>
                            <text x="162.5" y="10" text-anchor="middle">5</text>
                            <text x="187.5" y="10" text-anchor="middle">6</text>
                            <text x="212.5" y="10" text-anchor="middle">7</text>
                            <text x="237.5" y="10" text-anchor="middle">8</text>
                            <text x="262.5" y="10" text-anchor="middle">9</text>
                            <text x="287.5" y="10" text-anchor="middle">10</text>
                            <text x="312.5" y="10" text-anchor="middle">11</text>
                            <text x="337.5" y="10" text-anchor="middle">12</text>
                            <line x1="0" y1="15" x2="400" y2="15"></line>
                            <text x="50" y="10" text-anchor="end">Channel</text>
                            <line x1="0" y1="170" x2="400" y2="170"></line>
                            <text x="50" y="165" text-anchor="end">Satellite</text>
                            <text class="prn" x="62.5" y="165" text-anchor="middle">30</text>
                            <text class="prn" x="87.5" y="165" text-anchor="middle">25</text>
                            <text class="prn" x="112.5" y="165" text-anchor="middle">06</text>
                            <text class="prn" x="137.5" y="165" text-anchor="middle">12</text>
                            <text class="prn" x="162.5" y="165" text-anchor="middle">26</text>
                            <text class="prn" x="187.5" y="165" text-anchor="middle">15</text>
                            <text class="prn" x="212.5" y="165" text-anchor="middle">29</text>
                            <text class="prn" x="237.5" y="165" text-anchor="middle">10</text>
                            <text class="prn" x="262.5" y="165" text-anchor="middle">00</text>
                            <text class="prn" x="287.5" y="165" text-anchor="middle">05</text>
                            <text class="prn" x="312.5" y="165" text-anchor="middle">02</text>
                            <text class="prn" x="337.5" y="165" text-anchor="middle">00</text>
                            <line x1="0" y1="190" x2="400" y2="190"></line>
                            <text x="50" y="185" text-anchor="end">SQ</text>
                            <text class="sq" x="62.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="87.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="112.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="137.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="162.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="187.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="212.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="237.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="262.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="287.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="312.5" y="185" text-anchor="middle">S</text>
                            <text class="sq" x="337.5" y="185" text-anchor="middle">S</text>
                            <text x="50" y="205" text-anchor="end">EPH</text>
                            <rect class="status" x="57.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="82.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="107.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="132.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="157.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="182.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="207.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="232.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="257.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="282.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="307.5" y="195" width="10" height="10"></rect>
                            <rect class="status" x="332.5" y="195" width="10" height="10"></rect>
                        </svg>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
