@import "../../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../../bower_components/bootswatch/cyborg/variables.less";
@import "../../../../bower_components/bootswatch/cyborg/bootswatch.less";
@import "../../../../bower_components/bootstrap-datepicker/less/datepicker3.less";

@import (inline) "../../../../bower_components/bootstrap-spinedit/css/bootstrap-spinedit.css";

@close-color: #fff;
@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
@nav-tabs-active-link-hover-bg: @nav-link-hover-bg;


// Use a local version of Droid Sans.
//
// XXX: Remember to comment out the import from fonts.googleapis in the
// bootswatch.less file of the theme. We don't want to make the app make calls
// out to the Internet.
@import (inline) "app/static/css/fonts.css";


body {
    -webkit-font-smoothing: antialiased;
    color: #aaa;
}

tbody {
    tr:first-child td {
        border: none !important;
    }
    td {
        white-space: nowrap;
    }
}

#content {
    margin-bottom: 20px;
}

.navbar-nav > li > a {
    outline: none;
    text-transform: uppercase;
}
.navbar-nav > li.active > a {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.nav-tabs {
    margin-bottom: 20px;
    > li > a {
        outline: none;
    }
}

div.spinedit {
    padding: 0 4px 0 4px;
}

label {
    color: #aaa;
    font-weight: normal;
}

button {
    -webkit-font-smoothing: inherit;
}

.collapsing {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.progress-bar {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.form-control {
    color: #555;
}

.form-control,
.input-group-addon {
    border: none;
    border-radius: 2px;
    box-shadow: none;
}

.btn {
    border-radius: 2px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
    outline: none !important;
    padding-bottom: 8px;
    padding-top: 8px;

    &:active {
        box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.1);
        color: #ccc;
    }
}

span.label {
    font-size: 10px;
    padding: 0.4em 0.6em 0.3em;
    text-transform: uppercase;
}
.status span.label {
    display: table-cell;
    width: 1%;
    border-radius: 0;
}
.position-name {
    font-weight: bold;
}
.position-name,
.required-position-name {
    width: 135px;
}

.help-block {
    margin-bottom: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Modify vertical margins so it looks slightly better. This is specifically
// for the "Output Amplifier" options on the Camera interface.
.radio {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 20px;
    label {
        padding-left: 0;
    }
}

.chart {
    rect {
        shape-rendering: crispEdges;
        stroke: none;
        &.sq {
            fill: @brand-primary;
        }
        &.status {
            fill: #555;
            stroke: none;
        }
        &.active {
            fill: @brand-success;
            stroke: none;
        }
    }
    text {
        fill: #eee;
        font-family: "Lucida Grande", sans-serif;
        font-size: 10px;
        stroke: none;
        text-rendering: optimizeLegibility;
    }
    line {
        stroke-width: 1;
        stroke: #333;
    }
}

.close {
    font-weight: normal;
    opacity: 1;
    outline: none;
}

#mode {
    .dropdown-toggle {
        background: none !important;
        border-color: transparent;
        max-width: 265px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
    }
    .dropdown-menu {
        height: auto;
        max-height: 250px;
        overflow: auto;
    }
}

#script-lines {
    height: 185px;
    overflow-x: hidden;
    overflow-y: auto;
    table {
        background: none;
        tr {
            .remove {
                cursor: pointer;
                color: rgba(255, 255, 255, 0.2);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            &:hover .remove {
                color: #c9302c;
            }
            &:target .status {
                background-color: #5cb85c !important;
            }
        }
    }
}

.dropdown-toggle.disabled .caret {
    display: inline;
    height: auto;
    border: none;
    vertical-align: initial;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: normal;
    line-height: 1;
    margin-right: 8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        content: "\e033";
    }
}

.status {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.pulsate {
    -webkit-animation: pulsate 1s linear infinite;
    -moz-animation: pulsate 1s linear infinite;
    animation: pulsate 1s linear infinite;
}

@-webkit-keyframes pulsate {
    0% {background: black;}
    50% {background: #5cb85c;}
    100% {background: black;}
}
@-moz-keyframes pulsate {
    0% {background: black;}
    50% {background: #5cb85c;}
    100% {background: black;}
}
@keyframes pulsate {
    0% {background: black;}
    50% {background: #5cb85c;}
    100% {background: black;}
}

li.script a {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.btn-start,
.btn-repeat {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.label.temperature {
    display: block;
    font-size: 12px;
}

div.JS9PluginContainer {
    background: transparent !important;
    display: block !important;
}
.SHOClightcurve-totcounts,
.SHOClightcurve-bscounts {
    background-color: transparent !important;
    display: block;
    height: 250px;
    width: 555px;
}

#region-stats {
    background: none;
}

#x-slice {
    clear: both;
    height: 50px;
    width: 480px;
}
#y-slice {
    float: left;
    height: 480px;
    margin-top: 32px;
    width: 50px;
}

.upper-canvas.JS9Layer:hover {
    cursor: crosshair !important;
}

.JS9Message {
    color: #eee !important;
    font-size: 12px !important;
    text-shadow: 1px 1px 0px #000;
}

.JS9MenubarContainer,
.JS9PluginContainer {
    background: #222 !important;
    text-align: inherit !important;
}

div.JS9MenubarContainer, div.JS9MenubarContainer-classic {
    padding: 0 10px !important;
}

.JS9Image {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

button.JS9Button {
    background-color: transparent !important;
    border: none;
    color: #888;
}
button.JS9Button.context-menu-active {
    color: #fff;
}

.context-menu-item,
.context-menu-item label {
    color: #111;
}

#countdown {
    bottom: 15px;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    right: 40px;
    text-align: center;
    width: 50px;
}

.list-group-item,
.list-group-item .badge {
    background-color: initial !important;
}
.list-group-item .state {
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin: 3px 10px 3px 0;
    width: 5px;
}
