{% extends "base.html" %}

{% block content %}
<div class="alert info alert-warning" style="border-radius: 2px; border: none;">
    <p style="line-height: 38px; margin: 0;"><i class="glyphicon glyphicon-exclamation-sign"></i> This page does not exist.</p>
</div>
{% endblock %}
