{% extends "base.html" %}

{% block content %}
<div class="panel-group">
    <div class="panel panel-danger" style="border-radius: 2px; border: none;">
        <div class="panel-heading">
            <div class="panel-title"><strong>Error:</strong> <a href="#traceback" data-toggle="collapse">{{ error.message or error }}</a></div>
        </div>
        <div class="panel-body">
            <p>An error occurred while trying to display the page. You can <a href="#" onclick="window.location.reload(); return false;" class="alert-link">reload the page</a> to try again and if the error persists, please contact a support technician.</p>

            <div id="traceback" class="collapse" style="white-space: pre;"><hr>{{ traceback }}</div>
        </div>
    </div>
</div>
{% endblock %}
