<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}SHOC{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" title="default">

    {% block head %}{% endblock %}
</head>
<body>
    <header class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse no-transition" id="navbar-collapse">
                <ul class="nav navbar-nav">

                    {%- for endpoint, text in [
                      ('filterwheel.index', 'Filters'),
                      ('gps.index', 'GPS'),
                      ('camera.index', 'Camera'),
                    ] %}
                      <li{% if endpoint == request.endpoint %} class="active"{% endif
                      %}><a href={{ url_for(endpoint) }}>{{ text }}</a></li>
                    {%- endfor %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://topswiki.saao.ac.za/index.php/SHOC" target="_blank"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <div id="alert" class="alert hidden" style="border: none; border-radius: 2px;">
            <button type="button" class="close">&times;</button>
            <div class="alert-body"></div>
        </div>
    </div>

    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
