{% extends "base.html" %}

{% block title %}Camera &mdash; SHOC{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/js9/js9support.css">
<link type="text/css" rel="stylesheet" href="/static/js9/js9.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script type="text/javascript">
JS9.WIDTH = 480;
JS9.HEIGHT = 480;
JS9.MENUWIDTH = 480;
JS9.MENUHEIGHT = 32;
JS9.INSTALLDIR = '/static/js9/';
JS9.PREFSFILE = false;
JS9.globalOpts.helperType = 'none';

jQuery(function($) {
    $('option[value="' + localStorage.getItem('shoc:sound') + '"]').attr('selected', true);

    // Override refreshLayers because it resets the zoom level on refresh.
    JS9.Image.prototype.refreshLayers = function() {};

    // Override to disable ugly-looking spinner.
    JS9.waiting = function() {};

    SHOC.camera = new SHOC.Camera.FormView();
    SHOC.camera.socket = new WebSocket('ws://' + window.location.host + '/data');

    // Load an initial image so that we can call "RefreshImage" later.
    JS9.Load('/static/img/blank.png');

    // When the user starts acquiring data, the server will respond with a
    // message.
    SHOC.camera.socket.onmessage = function(message) {
        if (!SHOC.camera.model.get('acquiring')) return;

        // If the response from the server is empty it could be that there is
        // no new data available in the case of long exposures or that the
        // camera is waiting for an external trigger to start.
        if (message.data == '') {
            setTimeout(function() {
                SHOC.camera.socket.send('');
            }, SHOC.camera.model.get('exposure_time') * 1000);
        } else {
            requestAnimationFrame(function() {
                JS9.RefreshImage(message.data, function(image) {
                    SHOC.camera.socket.send('');
                });
            });
        }
    };

    SHOC.scripts = new SHOC.Scripts.MenuView({
        script: '{{ model._script or '' }}'
    });
});
</script>
{% endblock %}

{% block content %}
<div id="camera" class="row">
    <div class="col-md-7 col-lg-6">
        <div style="float: left;">
            <div id="JS9Menubar" class="JS9Menubar"></div>
            <div id="JS9" class="JS9"></div>
        </div>
        <div id="y-slice"></div>
        <div id="x-slice"></div>
        <span id="countdown"></span>
    </div>

    <div class="col-md-5 col-lg-6">
    <form autocomplete="off">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-controls" data-toggle="tab">Controls</a></li>
            <li><a href="#tab-analysis" data-toggle="tab">Analysis</a></li>
            <li><a href="#tab-advanced" data-toggle="tab">Advanced</a></li>
            <li id="mode" class="pull-right dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    <span class="status pulsate"></span>
                    <span class="hidden-md">Acquisition Mode:</span> <strong>{% if model._script %}{{ model._script }}{% else %}Manual{% endif %}</strong> <span class="caret"></span>
                </a>
                <ul id="menu" class="dropdown-menu" role="menu">
                    <li class="manual"><a href="#">Manual</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header" role="presentation">SCRIPTS</li>
                    <li class="script"></li>
                    <li class="divider"></li>
                    <li><a href="#" data-toggle="modal" data-target="#add-script">New Script&hellip;</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-controls" class="tab-pane active">

                <div id="scripts"{% if not model._script %} style="display: none;"{% endif %}>

                    <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                    <div id="script-item-form">
                        <div class="row">
                        {% for wheel in wheels %}
                            <div class="col-md-6">
                                <div class="form-group">
                                <select name="script_filter_{{ wheel.name }}" class="form-control input-sm">
                                    {% for filter in wheel.filters %}
                                        <option value="{{ loop.index }}">{{ filter[0] }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                <input type="text" name="script_exposure_time" class="form-control input-sm" placeholder="Exposure Time">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                <input type="text" name="script_kinetic_series_length" class="form-control input-sm" placeholder="Kinetic Series">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="script_binning" class="form-control input-sm">
                                        <optgroup label="Binning">
                                            <option selected="" value="0">1x1</option>
                                            <option value="1">2x2</option>
                                            <option value="3">4x4</option>
                                            <option value="7">8x8</option>
                                            <option value="10">16x16</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="script_sub_image" class="form-control input-sm">
                                        <optgroup label="Sub Image">
                                            <option selected="" value="0">1024x1024</option>
                                            <option value="1">512x512</option>
                                            <option value="2">256x256</option>
                                            <option value="3">128x128</option>
                                            <option value="4">64x64</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <select name="script_horizontal_shift_speed" class="form-control input-sm">
                                    <optgroup label="Readout Rate">
                                        {% for rate in rates %}
                                        <option value="{{ loop.index0 }}">{{ rate }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <select name="script_preamp_gain" class="form-control input-sm">
                                    <optgroup label="Preamp Gain">
                                        {% for gain in gains %}
                                        <option value="{{ loop.index0 }}">{{ gain }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default btn-sm btn-add pull-right">Add Item</button>
                            </div>
                        </div>
                    </div>
                    </fieldset>

                    <hr>

                    <div id="script-lines">
                        <table class="table table-condensed">
                            <tbody>
                            {# Will be populated on the client. #}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="controls"{% if model._script %} style="display: none;"{% endif %}>
                    <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label for="trigger_mode">Triggering</label>
                                    {{ form.trigger_mode(class='form-control') }}
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-3">
                                <div class="form-group">
                                    {% if model.trigger_mode == 1 %}
                                        <label for="exposure_time">Delay</label>
                                    {% else %}
                                        <label for="exposure_time">Exposure</label>
                                    {% endif %}

                                    <div class="input-group">
                                        {{ form.exposure_time(class='form-control', disabled=(form.trigger_mode.data == 1)) }}
                                        <div class="input-group-addon" title="seconds" style="color: #555; background-color: #adafae;">s</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label for="kinetic_series_length">Kinetic Series</label>
                                    {{ form.kinetic_series_length(class='form-control') }}
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-3">
                                <div class="form-group">
                                    {% if model.trigger_mode == 1 %}
                                        <label for="kinetic_cycle_time">Min Cycle Time</label>
                                    {% else %}
                                        <label for="kinetic_cycle_time">Cycle Time</label>
                                    {% endif %}

                                    <div class="input-group">
                                        {{ form.kinetic_cycle_time(class='form-control', disabled=True) }}
                                        <div class="input-group-addon" title="seconds" style="color: #555; background-color: #adafae;">s</div>
                                    </div>

                                    <span class="help-block">
                                        <span id="kinetic_cycle_time_hertz">{{ model.kinetic_cycle_time_hertz }}</span>Hz
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                        <legend>Sub Imaging &amp; Binning</legend>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="image-sub_image">Sub Image</label>
                                    <div class="input-group">
                                        {{ form.image.sub_image(class='form-control') }}
                                        <div class="input-group-btn">
                                            <a id="subimage-select" title="Make a custom selection" class="noselect" style="color: #fff; text-decoration: none; cursor: pointer; font-size: 25px; padding: 0 10px;">&#x2b1a;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="image-binning">Binning</label>
                                    {{ form.image.binning(class='form-control') }}
                                </div>
                            </div>
                        </div>

                        <div id="image" class="row{% if form.image.data.get('sub_image') != 5 and form.image.data.get('binning') != 5 %} hide{% endif %}">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="image-sub_image_left">Left</label>
                                            {{ form.image.sub_image_left(class='form-control', disabled=(form.image.sub_image.data != 5)) }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="image-sub_image_right">Right</label>
                                            {{ form.image.sub_image_right(class='form-control', disabled=(form.image.sub_image.data != 5)) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="image-sub_image_bottom">Bottom</label>
                                            {{ form.image.sub_image_bottom(class='form-control', disabled=(form.image.sub_image.data != 5)) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="image-sub_image_top">Top</label>
                                            {{ form.image.sub_image_top(class='form-control', disabled=(form.image.sub_image.data != 5)) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Custom Binning</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.image.binning_horizontal(class='form-control', disabled=(form.image.binning.data != 5)) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.image.binning_vertical(class='form-control', disabled=(form.image.binning.data != 5)) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                        <legend>Horizontal Pixel Shift</legend>

                        <div class="row">
                            <div class="col-md-5 col-lg-4">
                                <div class="form-group">
                                    <label for="horizontal_shift_speed">Readout Rate</label>
                                    {{ form.horizontal_shift_speed(class='form-control') }}
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <div class="form-group">
                                    <label for="preamp_gain">Pre-Amp Gain</label>
                                    {{ form.preamp_gain(class='form-control') }}
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2">
                                <div class="form-group">
                                    <label for="em_gain">EM Gain</label>
                                    {{ form.em_gain(class='form-control', disabled=(form.output_amplifier.data == 1)) }}
                                    <div class="help-block"></div>
                                </div>
                            </div>

                            {% if model.available_output_amplifiers > 1 %}
                            <div class="col-md-12 col-lg-3">
                                <div class="form-group">
                                    <label for="output_amplifier">Output Amplifier</label>
                                    {% for field in form.output_amplifier %}
                                    <div class="radio">
                                        {{ field }} {{ field.label }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>

            </div>

            <div id="tab-analysis" class="tab-pane">
                <div class="SHOClightcurve-totcounts" data-js9id="JS9"></div>
                <hr>
                <div class="SHOClightcurve-bscounts" data-js9id="JS9"></div>

                <table id="region-stats" width="100%" class="table">
                    <tbody>
                        <tr>
                            <td align="right" style="width: 25%; border: none;">Center x</td>
                            <td align="right" style="width: 25%; border: none;">-</td>
                            <td align="right" style="width: 25%; border: none;">y</td>
                            <td align="right" style="width: 25%; border: none;">-</td>
                        </tr>
                        <tr>
                            <td align="right">width</td>
                            <td align="right">-</td>
                            <td align="right">height</td>
                            <td align="right">-</td>
                        </tr>
                        <tr>
                            <td align="right">min</td>
                            <td align="right">-</td>
                            <td align="right">max</td>
                            <td align="right">-</td>
                        </tr>
                        <tr>
                            <td align="right">totcounts</td>
                            <td align="right">-</td>
                            <td align="right">bscounts</td>
                            <td align="right">-</td>
                        </tr>
                        <tr>
                            <td align="right">bkgrnd</td>
                            <td align="right">-</td>
                            <td align="right"></td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td align="right">Centroid x</td>
                            <td align="right">-</td>
                            <td align="right">y</td>
                            <td align="right">-</td>
                        </tr>
                        <tr>
                            <td align="right">FWHM</td>
                            <td align="right">-</td>
                            <td align="right"></td>
                            <td align="right"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="tab-advanced" class="tab-pane">
                <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="target_temperature">Temperature</label>
                                {{ form.target_temperature(class='form-control') }}
                                <span class="help-block">Degrees Celsius</span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="start_index">Start Index</label>
                                <span data-toggle="popover" data-content="The starting index that will be used to name your data files.">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                </span>
                                {{ form.start_index(class='form-control') }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="alert_sound">Alert Sound</label>
                                <span data-toggle="popover" data-content="Play a sound when exposures complete.">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                </span>
                                <select class="form-control" onchange="localStorage.setItem('shoc:sound', this.value);">
                                    <option value="">No sound</option>
                                    <optgroup style="border-top: 1px solid #ccc; margin: 1em;"></optgroup>
                                    <option value="/static/sounds/bourbonstreet.mp3">Bourbon St Parade</option>
                                    <option value="/static/sounds/growl.mp3">Growl</option>
                                    <option value="/static/sounds/ship.mp3">Ship Bell</option>
                                    <option value="/static/sounds/temple.mp3">Temple Bell</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                    <legend>Additional Header Keywords</legend>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-observer">Observer</label>
                                {{ form.observation.observer(class='form-control') }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-obstype">Observation Type</label>
                                {{ form.observation.obstype(class='form-control') }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-object">Object</label>
                                {{ form.observation.object(class='form-control') }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-objra">Right Ascension</label>
                                {{ form.observation.objra(class='form-control') }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-objdec">Declination</label>
                                {{ form.observation.objdec(class='form-control') }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-objepoch">Epoch</label>
                                {{ form.observation.objepoch(class='form-control') }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="observation-objequin">Equinox</label>
                                {{ form.observation.objequin(class='form-control') }}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset{% if model.state.acquiring %} disabled="disabled"{% endif %}>
                    <legend>Image Orientation</legend>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Flip X Axis</label>
                            <div class="row">
                                {% for field in form.flip_x %}
                                <div class="col-md-6">
                                    {{ field }} {{field.label }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label>Flip Y Axis</label>
                            <div class="row">
                                {% for field in form.flip_y %}
                                <div class="col-md-6">
                                    {{ field}} {{field.label }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <div style="width: 100%; position: absolute; left: 0;">
                                <span id="save_name">{{ model.state.save_name }}</span>&nbsp;
                                <span id="progress" style="font-weight: bold;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="label" style="font-size: 12px; text-transform: lowercase;">
                        <span class="script-status"></span>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="label label-default temperature">
                        <span class="temperature-status">{{ model.state.temperature|int }}&deg; C</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6 col-sm-6">
                    <div class="btn-group btn-group-justified">

                        <div class="btn-group">
                            {% if model.state.acquiring and model.state.acquisition_mode == 3 %}
                                <button type="button" class="btn btn-default btn-block btn-stop" data-loading-text="Stopping&hellip;">Stop</button>
                            {% else %}
                                <button type="button" class="btn btn-default btn-block btn-start" data-loading-text="Starting&hellip;"{% if model.state.acquiring %} disabled{% endif %}>Start</button>
                            {% endif %}
                        </div>
                        <div class="btn-group"{% if not model._script %} style="display: none;"{% endif %}>
                            <button type="button" class="btn btn-default btn-block btn-repeat" data-toggle="modal" data-target="#repeat" data-loading-text="Starting&hellip;"{% if model.state.acquiring %} disabled{% endif %}>Repeat</button>
                        </div>
                        <div class="btn-group">
                            {% if model.state.acquiring and model.state.acquisition_mode == 5 %}
                                <button type="button" class="btn btn-default btn-block btn-stop btn-preview-stop">Stop</button>
                            {% else %}
                                <button type="button" class="btn btn-default btn-block btn-preview"{% if model.state.acquiring %} disabled{% endif %}>Preview</button>
                            {% endif %}
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                  <button type="button" class="btn btn-default btn-block btn-cooler-on">Turn Cooler On</button>
                </div>
                <div class="col-md-3 col-sm-3">
                  <button type="button" class="btn btn-default btn-block btn-cooler-off">Turn Cooler Off</button>
                </div>
            </div>

        </div>

    </form>
    </div>

    <div id="repeat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Repeat" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">How many times should your script be repeated?</h4>
                </div>
                <div class="modal-body">
                    {{ form.script_iterations(class='form-control', placeholder='Number of iterations', autocomplete='off') }}
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-default btn-block btn-start-repeat" autocomplete="off">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you want to turn the cooler off?</h4>
            </div>
            <div class="modal-body">
                Make sure that you are not currently taking data before turning the cooler off.
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-off" autocomplete="off">Turn Cooler Off</button>
            </div>
        </div>
    </div>
</div>

<div id="em-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you want to enable EM mode?</h4>
            </div>
            <div class="modal-body">
                Turning on EM mode can potentially damage the camera if used incorrectly.
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-enable-em" data-dismiss="modal">Enable EM Mode</button>
            </div>
        </div>
    </div>
</div>

<div id="start-index-confirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Confirmation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you want to set the start index?</h4>
            </div>
            <div class="modal-body">
                Setting the start index to a previous value will overwrite saved data.
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-set-start-index" data-dismiss="modal">Set Start Index</button>
            </div>
        </div>
    </div>
</div>

<div id="add-script" class="modal" tabindex="-1" role="dialog" aria-labelledby="New Script" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Script</h4>
            </div>
            <div class="modal-body">
                <input id="script-name" type="text" class="form-control" placeholder="Enter a name for your script&hellip;" autofocus autocomplete="off">
                <span class="help-block"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-add" autocomplete="off">Create Script</button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="script-list-item">
    <tr id="<%- id %>">
        <td>
        {% if model._script and model.state.acquiring %}
            <span class="glyphicon glyphicon-remove remove" style="display: none;"></span>
            <span class="status" style="display: inline-block; margin: 0 2px; background-color: #555;"></span>
        {% else %}
            <span class="glyphicon glyphicon-remove remove"></span>
            <span class="status" style="display: none; margin: 0 2px; background-color: #555;"></span>
        {% endif %}
            <%- filters.A %></td>
        <td><%- filters.B %></td>
        <td class="text-right"><%- exposure_time %></td>
        <td class="text-right"><%- kinetic_series_length %></td>
        <td class="text-right"><%- binning %></td>
        <td class="text-right"><%- sub_image %></td>
        <td class="text-right"><%- horizontal_shift_speed %></td>
        <td class="text-right"><%- preamp_gain %></td>
    </tr>
</script>
{% endblock %}
