{% extends "base.html" %}

{% block title %}Camera &mdash; SHOC{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    SHOC.camera = new SHOC.Camera.StartView();
});
</script>
{% endblock %}

{% block content %}
<div id="camera">
    <div class="alert info alert-info" style="display: inline-block; width: 100%; background-color: #d9edf7; border-color: #bce8f1; color: #31708f; border-radius: 2px;">
        <p class="pull-left" style="line-height: 38px;"><i class="glyphicon glyphicon-info-sign"></i> Please turn the camera on before setting any acquisition parameters.</p>
        <button class="btn btn-success btn-on pull-right" autocomplete="off">Turn Camera On</button>
    </div>
</div>
{% endblock %}
